:root {
    --main-font-color: rgb(192, 39, 39);
    --main-font-family: 'Merienda', cursive;
    --second-font-family: 'Mountains of Christmas', cursive;
    --link-color: rgb(42, 158, 42);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3a8065;
    height: 100vh;
    width: 100vw;
}


/* complete form */

form {
    padding: 2em;
}


/*text voor veld*/

label {
    color: rgb(0, 0, 0);
    font-family: var(--main-font-family);
    margin: 0 auto;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}


/*zoekveld*/

.searchterm {
    height: 50px;
    width: 1000px;
    font-size: 2rem;
    font-family: 'Merienda', cursive;
    background-color: rgba(113, 235, 218, 0.541);
}

.searchterm:focus {
    height: 50px;
    width: 1000px;
    font-size: 2rem;
    font-family: 'Merienda', cursive;
    background-color: rgba(113, 235, 218, 0.541);
}


/* knop */

#submit {
    height: 50px;
    width: 50px;
    font-size: 1.8em;
    background-color: #3a8065;
    margin: 10px;
    border: #3a8065;
}


/* -- Start Recipes Broadcast -- */

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeImage {
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 200px;
    margin: 10px;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.5);
}

.titel {
    color: rgba(0, 0, 0, 0.726);
    font-size: 1.8em;
    font-family: 'Merienda';
}

.source {
    color: rgba(0, 0, 0, 0.726);
    font-size: 1.3em;
    font-family: 'Merienda';
}

.ingredients {
    color: rgba(0, 0, 0, 0.726);
    font-size: 1.2em;
    font-family: 'Merienda';
    padding: 40px;
    text-align: center;
    max-width: 500px;
}

.url {
    color: rgba(0, 0, 0, 0.726);
    font-size: 1.2em;
    font-family: 'Merienda';
    text-decoration: none;
    padding: 0.5em 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.733);
    border-radius: 5px;
}

.url:hover {
    background-color: #e44445;
}