:root {
    --main-font-color: rgb(192, 39, 39);
    --main-font-family: 'Merienda', cursive;
    --second-font-family: 'Mountains of Christmas', cursive;
    --link-color: rgb(42, 158, 42);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.landing {
    min-height: 100%;
    width: 100vw;
}

.link-box {
    border: 1px solid black;
    padding: 1em;
    width: 30%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: var(--main-font-color);
    font-family: var(--main-font-family);
    font-size: 2em;
    margin-top: 10px;
}

.links {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.games {
    padding: 0.5em;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.568);
    border: 1px solid red;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../assets/img/mole-game/christmas-decorations-1150015_640.jpg);
    background-size: cover;
    background-position: top;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-family: var(--main-font-family);
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bolder;
}

.container {
    color: rgb(190, 50, 50);
    /* color of the clock  */
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 0.5em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4rem;
    /* clock size */
}


/* snow */

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    50% {
        background-color: #b4cfe0
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    50% {
        background-color: #b4cfe0
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    50% {
        background-color: #b4cfe0
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    50% {
        background-color: #b4cfe0
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}

#snow {
    background-color: #5f7285;
    background-image: url('https://i.imgur.com/BiSmXaq.png'), url('https://i.imgur.com/XHuy0NJ.png'), url('https://i.imgur.com/okpRxJU.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
    position: absolute;
    min-height: 100vh;
    width: 100%
}